<div class="demo-main__component-panel">
  <app-graph-overview-component></app-graph-overview-component>
  <div class="component-toolbar">
    <button (click)="zoomOut()" title="Zoom Out" class="material-symbols-outlined">zoom_out</button>
    <button (click)="zoomIn()" title="Zoom In" class="material-symbols-outlined">zoom_in</button>
    <button (click)="fitContent()" title="Fit Content" class="material-symbols-outlined">
      zoom_out_map
    </button>
    <span class="separator"></span>
    <button (click)="exportSvg()" title="Export SVG" class="material-symbols-outlined">save</button>
    <span class="separator"></span>
    <label>
      Search:
      <input
        [ngModel]="searchString"
        (ngModelChange)="onSearchInput($event)"
        (keyup.enter)="graphSearch.zoomToSearchResult()"
        class="search"
        name="searchString"
      />
    </label>
  </div>
  <graph-component></graph-component>
</div>
<properties-view
  class="demo-main__interaction-panel"
  [person]="currentPerson()"
  (personChange)="onPersonChange()"
></properties-view>
